#define SECRET_SSID "your wifi ssid"
#define SECRET_PASSWORD "your wifi password"
#define SECRET_TOKEN "your home assistant_token"
#define SECRET_FINGERPRINT_URL "url which returns the fingerprint to use for HTTPS with home assistant"
#define SECRET_HA_BASE_URL "your home assistant base URL"
